<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VitaliiPianykh.FileWall.Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <VitaliiPianykh.FileWall.Client.Properties.Settings>
            <setting name="UICulture" serializeAs="String">
                <value>(Default)</value>
            </setting>
            <setting name="SkinName" serializeAs="String">
                <value>Caramel</value>
            </setting>
        </VitaliiPianykh.FileWall.Client.Properties.Settings>
    </userSettings>
    <satelliteassemblies>
      <assembly name="FileWallClient, Version=1.0.0.0, Culture=neutral">
        <culture>ru</culture>
        <culture>uk</culture>
      </assembly>
    </satelliteassemblies>

</configuration>